
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 模块化</title>
</head>
<body ng-app="App">
<!-- 指定模块 -->
<!-- 一个页可以有多个模块，但是不能互想嵌套 -->
<!-- 一般只会有一个 -->
<div class="box" >
    <!-- 指定控制器 -->
    <div ng-controller="try">
        <h1>{{name}}在{{school}}学习使用AngularJS</h1>
        <ul>
            <li ng-repeat="(key, course) in courses">第{{key+1}}天：{{course}}</li>
        </ul>

        <table>
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in stars">
                <td>{{x.na}}</td>
                <td>{{x.sex}}</td>
                <td>{{x.age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 引入框架 -->
<script src="./libs/angular.min.js"></script>
<script>

    // 提供一个全局对象angular，在此对象下有N多方法
    // 其中module方法可以帮我们创建一个模块
    var App = angular.module('App', []);

    // App就是新创建的模块，这个模块又是一个对象
    // 在此对象下又有N多方法，可以实现具体业务逻辑
    // 其它controller可以创建一个控制器
    App.controller('try', ['$scope', function ($scope) {
        // $scope 是一个空对象{}，此对象就是Model
        $scope.name = '李振杰';
        $scope.school = '传智播客';
        $scope.courses = [
            'MVC',
            '指令',
            '模块化'
        ];
        $scope.stars = [
            {na: '刘德华', sex: '男', age: 62},
            {na: '王力宏', sex: '男', age: 40},
            {na: '周杰伦', sex: '男', age: 39},
            {na: '小明', sex: '女', age: 12}
        ]
    }]);

</script>
</body>
</html>